body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	
	background: linear-gradient(to top, #859d8f, #9cb0a5);
}

a {
	text-decoration: underline;
	color: #ffffff;
}

a:hover {
	color: #dc532f;
}

.site-navigation,
.user-navigation,
.info,
.hits-list,
.about-list,
.footer-social-list,
.footer-about,
.catalog-popup-list {
	list-style:none;
}

.site-navigation a:hover {
	color:#000000;
	text-decoration:none;
	background-color:#FFFFFF;
}



