body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	/*background: linear-gradient(to top, #000000, #AAAAAA);*/
	background: linear-gradient(to top, #859d8f, #9cb0a5);
}

svg path {
	stroke:inherit;
	stroke-width:inherit;
	fill:inherit;
}


a {
	text-decoration: underline;
	color: #ffffff;
}


a:hover,
a:focus {
	color: #dc532f;
}

.catalog-popup-list a:hover,
.catalog-popup-list a:focus {
	background-color:#fbded8;
	color:#000000;
}

.catalog-popup-list a:active {
	background-color:#f7b5a5;
	color:#000000;
}

.catalog-popup-list-current {
	background-color:#d07058;
	color:#FFFFFF;
}

.site-navigation,
.user-navigation,
.info,
.hits-list,
.about-list,
.footer-social-list,
.footer-about-list,
.catalog-popup-list {
	list-style:none;
}

.site-navigation a,
.footer-social-list a {
	color: #ffffff;
}

.catalog-popup-list a {
	color:#000000;
	text-decoration:none;
}

.catalog-popup-title {
	color:#000000;
	font-style:strong;
}
	
.site-navigation a:hover,
.site-navigation a:focus {
	color:#000000;
	text-decoration:none;
	background-color:#FFFFFF;
}

.footer-social-list a:hover {
}

.buttonorange {
	border:none;
	background: linear-gradient(to top, #ea4b38, #f26843);
	color:#FFFFFF;
	
}

.buttonorange:hover,
.buttonorange:focus {
	border:none;
	background: linear-gradient(to top, #ea6f5f, #f58668);
	color:#FFFFFF;
}

.buttonorange:active {
	border:none;
	background: linear-gradient(to top, #e16241, #d74631);
	color:#FFFFFF;
}

.hits-item:hover,
.hits-item:focus {
	background-color: #9bafa3;
	border-radius:10px;
		
}

.hit {
	border-radius: 75px;
}

.about {
	color: #000000;
}

.blog {
	color: #000000;
}

.blog a {
	color: #000000;
}

.blog a:hover,
.blog a:focus {
	color: #dc532f;
}

.subscribe {
	color:#000000;
}

.location {
	color:#000000;
}













.user-nav-button {
	border:none;
	background:#a3b4aa;
	color:#ffffff;
}

.user-nav-button-basket {
	border:none;
	background:#a3b4aa;
	color:#ffffff;
}

.user-nav-button .loupe {
	fill:#ffffff;
}

.user-nav-button .entrance {
	fill:#ffffff;
}

.user-nav-button:hover,
.user-nav-button:focus {
	border:none;
	background:#ffffff;
	fill: #000000;
	color:#000000;
}
.user-nav-button:focus .loupe,
.user-nav-button:hover .loupe {
	fill: #000000;
}

.user-nav-button:focus .entrance,
.user-nav-button:hover .entrance {
	fill: #000000;
}

.user-nav-button-basket:focus, 
.user-nav-button-basket:hover  {
	background:#ffffff;
	color:#000000;
}

.user-nav-button-basket:focus .img-basket,
.user-nav-button-basket:hover .img-basket  {
	background: url("../img/basket-red.svg");
}





























