body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #ffffff;
	/*background: linear-gradient(to top, #000000, #AAAAAA);*/
	background: linear-gradient(to top, #859d8f, #9cb0a5);
}

svg path {
	stroke:inherit;
	stroke-width:inherit;
	fill:inherit;
}


a {
	text-decoration: underline;
	color: #ffffff;
}


a:hover,
a:focus {
	color: #dc532f;
}

.catalog-popup-list a:hover,
.catalog-popup-list a:focus {
	background-color:#fbded8;
	color:#323232;
}

.catalog-popup-list a:active {
	background-color:#f7b5a5;
	color:#323232;
}

.catalog-popup-list-current {
	background-color:#d07058;
	color:#FFFFFF;
}

.site-navigation,
.user-navigation,
.info,
.hits-list,
.about-list,
.footer-social-list,
.footer-about-list,
.catalog-popup-list,
.catalog-list,
.breadcrumbs {
	list-style:none;
}

.site-navigation a,
.footer-social-list a {
	color: #ffffff;
}

.catalog-popup-list a {
	color:#323232;
	text-decoration:none;
}

.catalog-popup-title {
	color:#323232;
	font-style:strong;
}
	
.about,
.blog,
.blog a,
.subscribe,
.location {
	color:#323232;
}

/*Текстовые данные, фоны*/
.site-navigation  {
	font-size: 16px;
	line-height: 18px;
}
	
.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-family: roboto medium;
}
	
.info .time {
	font-size: 14px;
	line-height: 16px;
}

.info .time {
	font-size: 22px;
	line-height: 24px;
}
	
.gallery-content p {
	font-size: 60px;
	line-height: 60px;
}	

.gallery-content .buttonorange {
	font-size: 32px;
	line-height: 44px;
}

.jam {
	background:url("../img/malback_n.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 25px;
	padding: 22px 30px 25px 20px;
}

.choko {
	background:url("../img/chokoback_n.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 25px;
	padding: 22px 30px 25px 20px;
}

.jam h3,
.choko h3 {
	font-size: 32px;
	line-height: 44px;
}

.jam p,
.choko p {
	font-size: 18px;
	line-height: 22px;
}

.buttonorange {
	font-size: 18px;
	line-height: 24px;
	vertical-align:middle;
}

.hit {
	border-radius: 150px;
}

.hits-item {
	width: 290px;
}

.hits-item .description {
	font-size: 16px;
	line-height: 24px;
}

.price {
	font-size: 50px;
	line-height: 45px;
}

.mass {
	font-size: 25px;
	line-height: 45px;
}

.about {
	border-radius:30px;
	background:url("../img/about-back.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 35px 30px 20px;
}


.about h5 {
	font-size: 24px;
	line-height: 30px;
}

.about-item {
	font-size: 16px;
	line-height: 22px;
	font-family:Roboto regular;
}

.blog {
	height: 220px;
	background:url("../img/strbwback.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 25px;
	padding: 27px 0 0 23px;
}

.blog a {
	font-size: 24px;
	line-height: 30px;
}

.subscribe {
	border: 5px solid;
	border-radius: 25px;
	height: 220px;
	background: #f8f7f4;
	background-size: cover;
	background-repeat: no-repeat;
	border-image: url("../img/bg-post.svg") 5 round;
	font-size: 16px;
	line-height: 22px;
	padding:10px;
}

.emaiL {
	font-size: 16px;
	line-height: 24px;
	background-color: 
}

.location {
	height: 430px;
	background:url("../img/maptip.jpg") 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.location .contactinfo{
	background-color:#fffefe;
	padding: 35px 0px 30px 25px;
	width: 302px;
	border-radius: 30px;
}


.map-info-small {
	font-size: 14px;
	line-height: 20px;
}

.map-info-big {
	font-size: 18px;
	line-height: 24px;
}

.footer {
	font-size: 13px;
	line-height: 18px;
	font-weight:normal;
}

.footer-about-list .footer-bold {
	font-weight:bold;
	color:#323232;
}

.footer-copyright {
	font-size: 12px;
	line-height: 18px;
}
	
	
.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

/*Текстовые данные, фоны*/	
	/*Всплывающие элементы*/
.catalog-popup {
	font-size: 14px;
	line-height: 16px;
}

.catalog-popup-list {
	background-color: #f8f7f4;
}
	
.login-link-popup {
	font-size: 14px;
	line-height: 24px;
	background-color: #f8f7f4;
	padding: 20px 18px;
}

.login-link-popup-other {
	font-size: 13px;
	line-height: 24px;
	color: #343434;
}

.search-popup {
	font-size: 14px;
	line-height: 24px;
	background-color: #f8f7f4;
	padding: 20px 16px;
}

.link-popup {
	font-size: 16px;
	line-height: 24px;
	background-color: #f8f7f4;
	padding: 20px 0 16px 25px;
}
.link-popup-title {
	font-size: 24px;
	line-height: 28px;
	color:#323232;
}

.basket-popup {
	background-color: #f8f7f4;
	padding: 20px 15px 21px 15px;
}

/*Текстовые данные, фоны*/
	/*INNER.HTML*/
.site-navigation-current  {
	font-size: 16px;
	line-height: 18px;
	text-decoration:none;
	background-color:#d07058;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
}

ul.breadcrumbs li {
	display: inline;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
}

.filters-all {
	color:#ffffff;
}

.filterfield {
	font-size: 16px;
	line-height: 18px;	
}

.filterfield p{
	font-size: 14px;
	line-height: 16px;	
}

.confirmation {
	color:#ffffff;
}

.data select {
	color: #ffffff;
	width: 190px;
	height: 35px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px; 
	-ms-appearance: none;
	background:none;
	border:none;
	background-image: url("../img/icon-down-dir.svg");
	background-position: right center;
	background-repeat: no-repeat;
}



/*Интерактивность*/	
.site-navigation a:hover,
.site-navigation a:focus {
	color:#000000;
	text-decoration:none;
	background-color:#FFFFFF;
}

.footer-social-list a:hover {
}

.hits-item:hover,
.hits-item:focus {
	background-color: #9bafa3;
	border-radius:5px;	
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.blog a:hover,
.blog a:focus {
	color: #dc532f;
}

/*Интерактивность*/
	/*Оранжевая кнопка*/
.buttonorange {
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border:none;
	background: linear-gradient(to top, #ea4b38, #f26843);
	color:#FFFFFF;	
	padding:12px;
	border-radius: 30px;
}

.buttonorange:hover,
.buttonorange:focus {
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 10.64);
	border:none;
	background: linear-gradient(to top, #ea6f5f, #f58668);
	color:#FFFFFF;
}

.buttonorange:active {
	box-shadow: 0px -2px 0px 0px rgba(172, 16, 0, 10.64);
	border:none;
	background: linear-gradient(to top, #e16241, #d74631);
	color:#FFFFFF;
}

/*Интерактивность*/
	/*Пользовательская навигация*/
.user-nav-button,
.user-nav-button-basket {
	height:32px;
	border-radius:16px;
	border:none;
	background:#a3b4aa;
	color:#ffffff;
	display:flex;
	align-items:center;
	padding: 0 15px;
}

.user-nav-button-loupe {
	height:32px;
	width: 32px;
	border-radius:16px;
	border:none;
	background:#a3b4aa;
	color:#ffffff;
	padding-top: 2px;
}

.user-nav-button-loupe .loupe,
.user-nav-button .entrance {
	fill:#ffffff;
}

.user-nav-button:hover,
.user-nav-button:focus,
.user-nav-button-loupe:hover,
.user-nav-button-loupe:focus {
	border:none;
	background:#ffffff;
	fill: #343434;
	color:#343434;
}

.user-nav-button-basket:hover,
.user-nav-button-basket:focus,
.user-nav-button-basket-full {
	border:none;
	background:#ffffff;
	color:#343434;
}

.user-nav-button-loupe:focus .loupe,
.user-nav-button-loupe:hover .loupe,
.user-nav-button:focus .entrance,
.user-nav-button:hover .entrance  {
	fill: #343434;
}

/*Интерактивность*/
	/*Пользовательская навигация-корзина*/
.user-nav-button-basket .basket-border,
.user-nav-button-basket .basket-round {
	fill: #ffffff;
}

.user-nav-button-basket .basket-center {
	fill: none;
}

.user-nav-button-basket:hover .basket-border,
.user-nav-button-basket:hover .basket-round,
.user-nav-button-basket:focus .basket-border,
.user-nav-button-basket:focus .basket-round,
.user-nav-button-basket-full .basket-border,
.user-nav-button-basket-full .basket-round {
	fill: #343434;
}

.user-nav-button-basket:hover .basket-center,
.user-nav-button-basket:focus .basket-center,
.user-nav-button-basket-full .basket-center {
	fill: #e84d37;
}

.gallery-button .button-center,
.gallery-button .button-border {
	fill:
}

/*Интерактивность*/
	/*/*Кнопки галереи*/
.gallery-button {
	border:none;
	background-color: rgba(0, 0, 0, 0);
	color:#ffffff;
}

.gallery-button-img {
	background-color:#ffffff;
	border-radius:10px;
}

.gallery-button:hover .gallery-button-img,
.gallery-button:focus .gallery-button-img {
	background-color: rgb(178,194,183);
}

.gallery-button:active .gallery-button-img {
	background-color: #ffffff;
}

/*Интерактивность*/
	/*Кнопки социальных сетей*/
.social-button-twitter .twitter-img,
.social-button-instagram .instagram-img,
.social-button-facebook .facebook-img,
.social-button-vkontakte .vkontakte-img{
	fill: rgb(226,232,230);
	border: 2px solid rgb(193,206,197);	
	border-radius: 25px;
}	

.social-button-twitter:hover .twitter-img,
.social-button-twitter:focus .twitter-img,
.social-button-instagram:hover .instagram-img,
.social-button-instagram:focus .instagram-img,
.social-button-facebook:hover .facebook-img,
.social-button-facebook:focus .facebook-img,
.social-button-vkontakte:hover .vkontakte-img,
.social-button-vkontakte:focus .vkontakte-img {
	fill: rgb(255,255,255);
	border: 2px solid rgb(223,228,224);	
	border-radius: 25px;
}	

.social-button-twitter:avtive .twitter-img,
.social-button-instagram:avtive .instagram-img,
.social-button-facebook:avtive .facebook-img,
.social-button-vkontakte:avtive .vkontakte-img{
	fill: rgb(,231,231);
	border: 2px solid rgb(220,225,221);	
	border-radius: 25px;
}	

/*Интерактивность*/
	/*INNER.HTML*/
	
.data {
	background-color:#aabcb2;
	padding:10px;
	border-radius: 25px;
}

.confirmation {
	border:none;
	background-color:#aabcb2;
	padding:10px;
	border-radius: 25px;
}
 
/*СЕТКИ*/
html,
body {
	min-width:1200px;
	min-height: 2416px;
}

.header-navigation {
	 display: flex;
	 flex-direction: column;
 }
 
.site-navigation,
.user-navigation,
.info {
	margin:0;
	padding:0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.gallery-content {
	min-height: 831px;
	width: 1200px;
}

.bonuses {
	margin-top: -183px;
}

.jam,
.choho {
	padding: 18px 30px 24px 20px;
}














